body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f8f8f8;
}

h1, h2 {
    text-align: center;
}

#menu div, li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.social {
    text-align: center;
    margin-top: 30px;
}
