html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:
        linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
        url("images/food-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header */
.header {
    background: #7b1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Menu */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    max-width: 700px;
    margin: auto;
}

.menu-box {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.menu-box img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.menu-content {
    padding: 10px;
    text-align: center;
}

.menu-content h3 {
    margin: 5px 0;
    font-size: 16px;
}

.price {
    color: #7b1e1e;
    font-weight: bold;
}

/* Footer */
.footer {
    text-align: center;
    padding: 15px;
    background: #7b1e1e;
    color: white;
}

.footer a {
    color: #ffd700;
    text-decoration: none;
}

/* Admin */
.admin-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-box {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.admin-box input,
.admin-box button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.admin-box button {
    background: #7b1e1e;
    color: white;
    border: none;
    cursor: pointer;
}

.admin-box ul {
    list-style: none;
    padding: 0;
}

.admin-box li {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    padding: 8px;
    margin-bottom: 6px;
    border-radius: 6px;
}

.center {
    text-align: center;
}
